/* CSS Variables */
:root {
  --font: "Bai Jamjuree", sans-serif;
  --font-size: 1.8rem;
  --font-size-sm: 1.7rem;
  --font-size-xs: 1.6rem;
  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);
  --color-dark: hsl(210, 10%, 33%);
  --color-light: hsl(201, 11%, 66%);
  --transition: 0.3s;
  --vertical-space: 14rem;
  --vertical-space-sm: 12rem;
}
